.nav {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  z-index: 1;
  .nav-reveal {
    display: block;
    background: #6b6b6b;
    padding: 4px;
    span {
      background: #fff;
      display: block;
      height: 3px;
      margin-top: 3px;
    }
  }
  &[data-state=closed] {
    ul {
      display: none;
    }
  }
  &[data-state=open] {
    ul {
      display: inherit;
    }
  }
  ul {
    width: 120px;
    position: absolute;
    right: 0;
    background: #6b6b6b;
    list-style: none;
    padding: $pad-min/2;
    a {
      color: #fff;
      font-size: 80%;
    }
  }

  @media only screen and (min-width: 480px) {
    width: auto;

    .nav-reveal {
      display: none;
    }

    ul {
      display: block !important;
      width: auto;
      position: relative;
      margin: 0;
      background: transparent;
      a {
        color: #6b6b6b;
      }
    }
    li {
      display: inline-block;
      margin-left: 25px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
